<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/customer-site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script defer src="~/js/script.js"></script> *@
    <link href="~/lib/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/customer-custom.css" />
    @* <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> *@
    @* <link href="~/lib/bootstrap/customer-offcanvas.css" rel="stylesheet" /> *@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Quicksand:300,400,500,600,700|Material+Icons" rel="stylesheet" />
    <link href="~/css/customer-custom-kons.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="https://www.konsolute.com">
                    <div class="logo-image">
                        <img alt="Konsolute Logo" src="~/contoso-sales.png" class="img-fluid">
                    </div>
                </a>
                <span class="navbar-toggle" id="navbarToggle"><span/></span>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto mr-auto kons-menu">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (TempData["ShowWelcomeScreen"] != null && Convert.ToString(TempData["ShowWelcomeScreen"]) == "True")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="https://www.konsolute.com/support/" class="nav-link" target="_blank">Support</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.konsolute.com/about/" class="nav-link" target="_blank">About</a>
                        </li>
                    }
                </ul>
                <div class="kons-userinfo">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <span>@User.Identity.Name&nbsp;</span>
                        <a style="text-decoration: none;" asp-controller="Account" asp-action="SignOut">&nbsp;<i class="fa fa-sign-out fa-2x"></i></a>
                    }
                    else
                    {
                        <a style="text-decoration: none;" asp-controller="Account" asp-action="SignIn">Sign in</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="container pb-3 kons-contents">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <img class="footer-brand img-fluid" src="https://www.konsolute.com/wp-content/uploads/Konsolute-Microsoft-Gold-Partner-2-1.png" alt="Microsoft Gold Partner">
            <div class="pull-center"></div>
            <ul class="social-buttons">
                <li>
                    <a href="https://www.linkedin.com/company/konsolute" target="_blank" class="btn btn-just-icon btn-link btn-linkedin" rel="noopener noreferrer">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @* <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script> *@
    <script src="~/lib/bootstrap/offcanvas.js"></script>
    <script>
        document.getElementById('navbarToggle').addEventListener('click', function () {
            var navbarCollapse = document.getElementById('navbarCollapse');
            navbarCollapse.classList.toggle('show');
            this.classList.toggle('active');
        });
    </script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
